<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <title>AngularJS Organizational Chart Directive Example</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <link href="../../css/primitives.css" media="screen" rel="stylesheet" type="text/css" />

  
  <script type="text/javascript" src="../../primitives.js"></script>
  <link href="../../css/primitives.css" media="screen" rel="stylesheet" type="text/css" />

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>

  <script>
    var myApp = angular.module('myApp', ['BasicPrimitives']);

    myApp.controller('myController', ['$scope', function ($scope) {
      $scope.index = 10;
      $scope.Message = "";

      var options = {};

      var items = [
        new primitives.OrgItemConfig({
          id: 0,
          parent: null,
          title: "Scott Aasrud",
          description: "Root",
          phone: "1 (416) 001-4567",
          email: "scott.aasrud@mail.com",
          image: "../images/photos/a.png",
          itemTitleColor: primitives.Colors.RoyalBlue
        }),
        new primitives.OrgItemConfig({
          id: 1,
          parent: 0,
          title: "Ted Lucas",
          description: "Left",
          phone: "1 (416) 002-4567",
          email: "ted.lucas@mail.com",
          image: "../images/photos/b.png",
          itemTitleColor: primitives.Colors.RoyalBlue
        }),
        new primitives.OrgItemConfig({
          id: 2,
          parent: 0,
          title: "Fritz Stuger",
          description: "Right",
          phone: "1 (416) 003-4567",
          email: "joao.stuger@mail.com",
          image: "../images/photos/c.png",
          itemTitleColor: primitives.Colors.RoyalBlue
        }),
        new primitives.OrgItemConfig({
          id: 3,
          parent: 2,
          title: "Hidden Node",
          phone: "1 (416) 004-4567",
          email: "hidden.node@mail.com",
          description: "Dotted Node",
          image: "../images/photos/e.png",
          itemTitleColor: primitives.Colors.PaleVioletRed
        })
      ];

      options.items = items;
      options.cursorItem = 0;
      options.highlightItem = 0;
      options.hasSelectorCheckbox = primitives.Enabled.True;
      options.templates = [getContactTemplate()];
      options.defaultTemplateName = "contactTemplate";

      $scope.myOptions = options;

      $scope.setCursorItem = function (item) {
        $scope.myOptions.cursorItem = item;
      };

      $scope.setHighlightItem = function (item) {
        $scope.myOptions.highlightItem = item;
      };

      $scope.deleteItem = function (index) {
        $scope.myOptions.items.splice(index, 1);
      }

      $scope.addItem = function (index, parent) {
        var id = $scope.index++;
        $scope.myOptions.items.splice(index, 0, new primitives.OrgItemConfig({
          id: id,
          parent: parent,
          title: "New title " + id,
          description: "New description " + id,
          image: "../images/photos/b.png"
        }));
      }

      $scope.onMyCursorChanged = function () {
        $scope.Message = "onMyCursorChanged";
      }

      $scope.onMyHighlightChanged = function () {
        $scope.Message = "onMyHighlightChanged";
      }

      function getContactTemplate() {
        var result = new primitives.TemplateConfig();
        result.name = "contactTemplate";

        result.itemSize = new primitives.Size(220, 120);
        result.minimizedItemSize = new primitives.Size(5, 5);
        result.minimizedItemCornerRadius = 5;

        /* the following example demonstrates JSONML template see http://http://www.jsonml.org/ for details: */
        result.itemTemplate = ["div",
          {
            style: {
              width: result.itemSize.width + "px",
              height: result.itemSize.height + "px",
            },
            "class": ["bp-item", "bp-corner-all", "bt-item-frame"]
          },
          ["div",
            {
              "name": "titleBackground",
              "class": ["bp-item", "bp-corner-all", "bp-title-frame"],
              "style": {
                backgroundColor: "{{itemTitleColor}}",
                top: "2px",
                left: "2px",
                width: "216px",
                height: "20px"
              }
            },
            ["div",
              {
                "name": "title",
                style: {
                  top: "3px",
                  left: "6px",
                  width: "208px",
                  height: "18px"
                },
                "class": ["bp-item", "bp-title"]
              },
              "{{itemConfig.title}}"
            ]
          ],
          ["div",
            {
              "style": {
                top: "26px",
                left: "2px",
                width: "50px",
                height: "60px"
              },
              "class": ["bp-item", "bp-photo-frame"]
            },
            ["img",
              {
                "name": "photo",
                "src": "{{itemConfig.image}}",
                "style": {
                  height: "60px",
                  width: "50px"
                }
              }
            ]
          ],
          ["div",
            {
              "name": "phone",
              "style": {
                top: "26px",
                left: "56px",
                width: "162px",
                height: "18px",
                fontSize: "12px"
              },
              "class": "bp-item"
            },
            "{{itemConfig.phone}}"
          ],
          ["div",
            {
              "style": {
                top: "44px",
                left: "56px",
                width: "162px",
                height: "18px",
                fontSize: "12px"
              },
              "class": "bp-item"
            },
            ["a",
              {
                "name": "email",
                href: "mailto::{{itemConfig.email}}",
                target: "_top"
              },
              "{{itemConfig.email}}"
            ]
          ],
          ["div",
            {
              "name": "description",
              "style": {
                top: "62px",
                left: "56px",
                width: "162px",
                height: "36px",
                fontSize: "10px"
              },
              "class": "bp-item"
            },
            "{{itemConfig.description}}"
          ]
        ];

        return result;
      }
    }]);

    angular.module('BasicPrimitives', [], function ($compileProvider) {
      $compileProvider.directive('bpOrgDiagram', function ($compile) {
        function link(scope, element, attrs) {
          var itemScopes = [];

          var config = new primitives.OrgConfig();
          angular.extend(config, scope.options);

          config.onItemRender = onTemplateRender;
          config.onCursorChanged = onCursorChanged;
          config.onHighlightChanged = onHighlightChanged;

          var chart = primitives.OrgDiagram(element[0], config);

          scope.$watch('options.highlightItem', function (newValue, oldValue) {
            var highlightItem = chart.getOption("highlightItem");
            if (highlightItem != newValue) {
              chart.setOption("highlightItem", newValue);
              chart.update(primitives.UpdateMode.PositonHighlight);
            }
          });

          scope.$watch('options.cursorItem', function (newValue, oldValue) {
            var cursorItem = chart.getOption("cursorItem");
            if (cursorItem != newValue) {
              chart.setOption("cursorItem", newValue);
              chart.update(primitives.UpdateMode.Refresh);
            }
          });

          scope.$watchCollection('options.items', function (items) {
            chart.setOption("items", items);
            chart.update(primitives.UpdateMode.Refresh);
          });

          function onTemplateRender(event, data) {
            var itemConfig = data.context;

            switch (data.renderingMode) {
              case primitives.RenderingMode.Create:
                /* Initialize widgets here */
                var itemScope = scope.$new();
                itemScope.itemConfig = itemConfig;
                $compile(data.element)(itemScope);
                if (!scope.$parent.$$phase) {
                  itemScope.$apply();
                }
                itemScopes.push(itemScope);
                break;
              case primitives.RenderingMode.Update:
                /* Update widgets here */
                var itemScope = angular.element(data.element).scope();
                itemScope.itemConfig = itemConfig;
                $compile(data.element)(itemScope);
                if (!scope.$parent.$$phase) {
                  itemScope.$apply();
                }
                break;
            }
          }

          function onButtonClick(e, data) {
            scope.onButtonClick();
            scope.$apply();
          }

          function onCursorChanged(e, data) {
            scope.options.cursorItem = data.context ? data.context.id : null;
            scope.onCursorChanged();
            scope.$apply();
          }

          function onHighlightChanged(e, data) {
            scope.options.highlightItem = data.context ? data.context.id : null;
            scope.onHighlightChanged();
            scope.$apply();
          }

          element.on('$destroy', function () {
            /* destroy items scopes */
            for (var index = 0; index < scopes.length; index++) {
              itemScopes[index].$destroy();
            }

            /* destory control instance */
            chart.destroy();
          });
        };

        return {
          scope: {
            options: '=options',
            onCursorChanged: '&onCursorChanged',
            onHighlightChanged: '&onHighlightChanged',
          },
          link: link
        };
      });
    });
  </script>
</head>

<body data-ng-controller="myController" style="font-size: 12px">
  <div id="westpanel"
    style="width: 400px; padding: 10px; margin: 0px; border-style: dotted; font-size: 12px; border-color: grey; float: left; border-width: 1px; overflow: scroll; -webkit-overflow-scrolling: touch;">
    <p>Example of syncronized content between ngRepeat directive and bpOrgDiagram directive.
      <p>Cursor: {{myOptions.cursorItem}}
        <p>Highlight: {{myOptions.highlightItem}}
          <p>Message: {{Message}}
            <p>
              <ul>
                <li ng-repeat="item in myOptions.items">
                  <p>Index: {{$index}}, Id: {{item.id}}, Parent: {{item.parent}}
                    <p>{{contact.title}}<input type="text" ng-model="item.title" ng-required />
                      <p>{{contact.description}}<input type="text" ng-model="item.description" ng-required />
                        <p><button ng-click="$parent.setCursorItem(item.id)">Cursor</button>
                          <button ng-click="$parent.setHighlightItem(item.id)">Highlight</button>
                          <button ng-click="$parent.deleteItem($index)">Delete</button>
                          <button ng-click="$parent.addItem($index + 1, item.id)">Add Child</button>
                </li>
              </ul>
              <button ng-click="addItem(0, null)">New</button>

  </div>
  <div id="centerpanel" style="overflow: hidden; padding: 0px; margin: 0px; border: 0px;">
    <div bp-org-diagram data-options="myOptions" data-on-highlight-changed="onMyHighlightChanged()"
      data-on-cursor-changed="onMyCursorChanged()"
      style="width: 800px; height: 600px; border-style: dotted; border-width: 1px;"></div>
  </div>
</body>

</html>
